body {
    font-family: Muli-Light;
    background-color: #12172f;
    color: #ddd;
}

@font-face {
    font-family: Muli-Regular;
    src: url(/resources/fonts/Muli-Regular.ttf);
}

@font-face {
    font-family: Muli-Light;
    src: url(/resources/fonts/Muli-Light.ttf);
}

@font-face {
    font-family: Muli-Bold;
    src: url(/resources/fonts/Muli-Bold.ttf);
}

a.nav-link {
    color: #888;
    background-color: transparent;
}

a.nav-link.active.show {
    color: white;
    background-color: transparent;
}

.home-panes {
    padding: 2px;
    margin: 3px;
    background-color: rgba(0, 0, 120, 0.1);
}

#weather-current {
    background-color: none;
    height: 50%;
}

#weather-forecast {
    background-color: none;
    height: 50%;
}

#weather-current span {
    display: inline-block;
}

#img-icon-weather img {
    width: 40px;
    padding-bottom: 22px;
}

#span-temperature {
    font-size: 320%;
}

#weather-current span.updated-display {
    font-size: 65%;
}

#status-pane span.time-display {
    font-size: 180%;
}

#status-pane span.date-display {
    font-size: 55%;
}

#weather-forecast .fcast-day {
    display: inline-block;
    
}

#weather-forecast img {
    width: 30px;
}

#blinds-pane .row {
    height: 50%;
}

#blinds-pane .row:nth-of-type(1) {
    padding-bottom: 5px;
}

#blinds-pane .row:nth-of-type(2) {
    padding-top: 5px;
}

#lights-pane .row {
    height: 50%;
}

#lights-pane .row img {
    width: 60px;
}