body {
    font-family: Muli-Light;
    background-color: #12172f;
    color: #ddd;
}

@font-face {
    font-family: Muli-Regular;
    src: url(/resources/fonts/Muli-Regular.ttf);
}

@font-face {
    font-family: Muli-Light;
    src: url(/resources/fonts/Muli-Light.ttf);
}

@font-face {
    font-family: Muli-Bold;
    src: url(/resources/fonts/Muli-Bold.ttf);
}

a.nav-link {
    color: grey;
    background-color: transparent;
}

a.nav-link.active.show {
    color: white;
    background-color: transparent;
}

#weather-pane span.temperature-display {
    font-size: 220%;
}

#weather-pane span.updated-display {
    font-size: 65%;
}

#status-pane span.time-display {
    font-size: 180%;
}

#status-pane span.date-display {
    font-size: 55%;
}