body {
    overflow: hidden;
    font-family: Ubuntu-Light;
    /* background-color: hsl(128, 86%, 5%);
    background-color: rgb(14, 48, 30);*/
    background-color: rgb(14, 68, 90);
    /* background-color: hsl(230, 45%, 13%);*/
    color: #ddd;
}

/*
@font-face {
    font-family: Muli-Regular;
    src: url(/fonts/Muli-Regular.ttf);
}

@font-face {
    font-family: Muli-Light;
    src: url(/fonts/Muli-Light.ttf);
}

@font-face {
    font-family: Muli-Bold;
    src: url(/fonts/Muli-Bold.ttf);
}
*/


@font-face {
    font-family: Ubuntu-Regular;
    src: url(/fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: Ubuntu-Light;
    src: url(/fonts/Ubuntu-Light.ttf);
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url(/fonts/Ubuntu-Bold.ttf);
}


a.nav-link {
    color: #888;
    background-color: transparent;
}

a.nav-link.active.show {
    color: white;
    background-color: transparent;
}


.tab-content {
    background-color: none;
    height: 374px;
}


.home-panes {
    padding: 2px;
    margin: 3px;
    /* background-color: rgba(0, 0, 120, 0.1); */
}

#weather-current {
    background-color: none;
    height: 40%;
}

#weather-forecast {
    background-color: none;
    height: 60%;
}

#weather-current span {
    display: inline-block;
}

#img-icon-weather img {
    width: 40px;
    padding-bottom: 22px;
}

.temp-and-humidity {
    background-color: rgb(14, 52, 90);
    padding: 3px;
}

#span-temperature {
    font-size: 240%;
}

span.updated-display {
    font-size: 75%;
}

#temperature-value {
    font-size: 160%;
}

#humidity-value {
    font-size: 120%;
}

#heat-pump-pane #span-main-time {
    font-size:85px;
    font-weight: light;
}

#heat-pump-pane #span-main-date {
    font-size:25px;
    font-weight: light;
}

#status-pane span.time-display {
    font-size: 160%;
}

#status-pane span.date-display {
    font-size: 105%;
}

#status-pane span.cpu-data-display {
    font-size: 75%;
}

#weather-forecast .fcast-day {
    display: inline-block;
    
}

#weather-forecast img {
    width: 30px;
}

#blinds-pane .row:nth-of-type(1), #blinds-pane .row:nth-of-type(2) {
    height: 42%;
}

#blinds-pane .home-shutters-auto-info {
    font-size: 80%;
}

#blinds-pane img, #shutters img {
    padding: 14px;
    cursor: pointer;
}

#lights-pane .row {
    height: 50%;
}

#lights-pane .row img {
    width: 60px;
}

#weather-display {
    border: 1px solid grey;
}

.weather-display-icon {
    padding: 0 0 28px 0;
}

.weather-display-icon img {
    width: 54px;
    margin: 3px;
}

#heating-total-daily-consumption-value-big {
    font-size: 60px;
    font-weight: 600;
}

#heating-total-daily-consumption-unit {
    font-size: 16px;
    font-weight: 400;
}